{% if raw.title|default %}{{ raw.title|raw }}{% elseif raw.name|default %}{{ raw.name|raw }}{% elseif raw.headline|default %}{{ raw.headline|raw }}{% endif %}
{% if raw.id|default %} <span style="color:#999; padding-left: 3px; display: inline-block;">[ID {{ raw.id }}]</span>{% endif %}