<div class="modal fade" id="modal-huh-list-{{ module.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-label-huh-list-{{ module.id }}" aria-hidden="true">
    <div class="modal-dialog{% block dialogClass %}{% endblock %}" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label-huh-list-{{ module.id }}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- retrieved by ajax -->
            </div>
        </div>
    </div>
</div>
